.app__bar {
  color: white;
  background-color: #000063;
  padding: 32px 0;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

.create__button {
  background-color: #311b92;
  border: 1px solid black;
  width: 100%;
  color: white;
  padding: 25px 0;
  font-size: 20px;
}

.create__button:hover {
  background-color: #311b92ec;
}

.journal__posts {
  margin-top: 15px;
  padding: 0 5px;
}
